<li id="post-<%= post._id%>">
  <p>
    <%= post.content %>

    <small> <%= post.user.name %> </small>
    <% if(locals.user && locals.user.id == post.user.id){%>

    <small>
      <a class="delete-post-button" href="/posts/destroy/<%= post.id%>"
        ><i class="fa-solid fa-delete-left"></i
      ></a>
    </small>

    <%}%>

    <br />
    <small>
      <%if(locals.user){%>
      <a
        class="toggle-like-button"
        data-likes="<%=post.likes.length%>"
        href="/likes/toggle/?id=<%=post._id%>&type=Post"
      >
        <i style="color: red" class="fa-solid fa-heart">
          <%=post.likes.length%></i
        >
      </a>
      <%}else{%>
      <i style="color: red" class="fa-solid fa-heart"><%=post.likes.length%></i>
      <% }%>
    </small>
  </p>

  <div class="PostComments">
    <%if(locals.user){%>
    <form action="/comments/create" method="POST">
      <input
        type="text"
        name="content"
        id="Type here to add comment....."
        required
      />
      <input type="hidden" name="post" value="<%= post._id%>" />
      <input type="submit" value="Add Comment" />
    </form>
    <%}%>

    <div class="post-comments-list">
      <ul id="post-comments -<%= post._id%>">
        <% for(comment of post.comments){%> <%- include('_comment');%> <%}%>
      </ul>
    </div>
  </div>
</li>
